body {
  --backgroundLightPink: #ffb3c11a;
  --darkRed: #a90f3d;
  --secondDarkRed: #c9184a;
  --mostLightPink: #ffb3c141;
  --lightGrey: rgba(0, 0, 0, 0.2);
  --secondDarkGrey: rgba(0, 0, 0, 0.4);
  --darkGrey: rgba(0, 0, 0, 0.8);
  --whiteColor: #fff;
  --backgroundLightBlue: #cbeef3c4;
  --backgroundPink: #f49cbb;
  --commonBorderRadiusPx: 8px;
  --commonOneDimensionPaddingPx: 10px;
  --commonTwoDimensionPaddingPx: 10px 20px;
  /* all pages should copy this */
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--backgroundLightPink);
}

main {
  /* all pages should copy this */
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: auto 310px; /* left auto width and right 310px width*/
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 20px;
  box-sizing: border-box;
}

.main-page-left-component-container {
  grid-column: 1; /* left auto fill width*/
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--commonOneDimensionPaddingPx);
  height: calc(100vh - 120px);
}

.main-page-right-component-container {
  grid-column: 2; /* right 310px width coming with margin and padding*/
  position: fixed;
  top: 120px; /* height of header 90px + margin top 10px + padding top 20px  */
  right: 20px; /* always keep right */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: calc(100vh - 140px);
  gap: 10px;
  padding: var(--commonOneDimensionPaddingPx);
}

.main-page-left-upper-component-container {
  flex: 0 1 auto;
  min-height: 100px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.main-page-left-bottom-component-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: var(--commonOneDimensionPaddingPx);
  gap: 10px;
}

.main-page-right-upper-component-container {
  height: 40%;
  display: flex; /* for inside component */
  flex-direction: column;
  background-color: var(--whiteColor);
  border: 1px solid var(--lightGrey);
  border-radius: var(--commonBorderRadiusPx);
}

.main-page-right-bottom-component-container {
  height: 60%;
  background-color: var(--whiteColor);
  border: 1px solid var(--lightGrey);
  border-radius: var(--commonBorderRadiusPx);
}

.main-page-right-upper-component-container,
.main-page-right-bottom-component-container {
  transition: height 0.3s ease; /* smooth transition for toggling the SHOW LESS/MORE button*/
}

/* right-component */
.main-page-right-upper-component-my-contacts-header,
.main-page-right-bottom-component-my-contacts-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid var(--lightGrey);
  padding-left: 10px;
  padding-right: 10px;
}

.main-page-right-upper-component-chat-message-content {
  flex-grow: 1; /* take the rest height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-page-right-upper-component-search-bar-content {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  gap: 10px;
}

.main-page-right-upper-component-search-bar-content img {
  cursor: pointer;
}

.main-page-right-upper-component-search-bar-input-content {
  flex-grow: 1;
  height: 30px;
  border: none;
  color: var(--secondDarkGrey);
  font-size: medium;
  background-color: transparent;
}

.main-page-right-upper-component-search-bar-input-content::placeholder {
  color: var(--secondDarkGrey);
}
.main-page-right-upper-component-search-bar-input-content:focus {
  outline: none;
}

.main-page-right-upper-component-voice-content {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.main-page-right-bottom-component-my-contacts-show-less-button {
  border: none;
  background-color: var(--whiteColor);
  color: var(--secondDarkRed);
  cursor: pointer;
  text-transform: uppercase;
}

/* left upper component */
.main-page-left-upper-component-profile-slider {
  display: flex;
  height: 100%;
}
.main-page-left-upper-component-one-profile {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 13px;
  margin-left: 2px;
  cursor: pointer;
}

.main-page-left-upper-component-one-profile img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--whiteColor);
  box-shadow: 0 0 0 2px var(--darkRed);
}

.main-page-left-upper-component-one-profile p {
  font-size: small;
  margin-top: 5px;
  height: 10px;
}

/* left bottom component */
.main-page-left-bottom-component-page-choose-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 30px;
}

.main-page-left-bottom-component-page-choose-header:hover,
.main-page-left-bottom-component-page-choose-header:focus {
  color: var(--darkRed);
}

/* overlay */
.main-page-overlay-container {
  display: none; /* hide it at initilization */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--darkGrey);
  align-items: center;
  justify-content: center;
  z-index: 2000;
  flex-direction: column;
}
.main-page-overlay-img {
  width: 350px;
  height: 550px;
}
.main-page-overlay-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--whiteColor);
  cursor: pointer;
}
.main-page-overlay-close:hover {
  color: var(--secondDarkRed);
}
.main-page-overlay-bottom-floating-div {
  position: absolute;
  bottom: 350px;
  width: 350px;
  height: 120px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: var(--commonOneDimensionPaddingPx);
  text-align: center;
  line-height: 2;
}
.main-page-overlay-bottom-floating-div p {
  margin: 0;
}
.main-page-overlay-bottom-floating-div button {
  width: 150px;
  height: 40px;
  background-color: var(--secondDarkRed);
  border: 1px solid var(--darkRed);
  box-shadow: 0px 8px 16px 0px var(--secondDarkGrey);
  color: var(--whiteColor);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 30px;
}
.main-page-overlay-bottom-floating-div button:hover {
  background-color: var(--darkRed);
  transition: height 0.3s ease;
}
.main-page-overlay-bottom-floating-div button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 3px;
}

/* right bottom component */
.main-page-right-bottom-component-message-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  gap: 10px;
}
.main-page-right-bottom-component-one-chat-request {
  display: flex;
  height: 60px;
  width: 288px;
  align-items: center;
}
.main-page-right-bottom-component-one-chat-request-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: cover;
}
.main-page-right-bottom-component-one-chat-request-user-info-content {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.main-page-right-bottom-component-one-chat-request-name,
.main-page-right-upper-component-chat-message-person-name {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-page-right-bottom-component-one-chat-request-description,
.main-page-right-upper-component-chat-message-person-history {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-page-right-bottom-component-one-chat-request-reply-button {
  background-color: var(--secondDarkRed);
  width: fit-content;
  color: var(--whiteColor);
  padding: 5px 2px 5px 2px;
  font-size: inherit;
  border: 1px solid var(--secondDarkRed);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.main-page-right-bottom-component-one-chat-request-reply-button:hover {
  background-color: var(--darkRed);
  transition: background-color 0.3s ease;
}

/* right upper component */
.main-page-right-upper-component-one-chat-message {
  display: flex;
  height: 60px;
  width: 288px;
  align-items: center;
}
.main-page-right-upper-component-one-chat-message-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: cover;
}

.main-page-right-upper-component-chat-message-user-info {
  height: 100%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 6px;
}

/* gallery card at left bottom component */
.main-page-left-bottom-component-explore-profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-page-left-bottom-component-gallery-show-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-page-left-bottom-component-profile-gallery-card {
  flex: 1 1 22%;
  min-width: 210px;
  max-width: 300px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  background: var(--whiteColor);
  border-radius: var(--commonBorderRadiusPx);
  border: 1px solid var(--lightGrey);
}
.main-page-left-bottom-component-profile-gallery-card-image {
  width: 100%;
  height: 133px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.main-page-left-bottom-component-profile-gallery-card-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  height: 145px;
}
.main-page-left-bottom-component-profile-gallery-card-info-content h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-page-left-bottom-component-profile-gallery-card-info-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-page-left-bottom-component-profile-gallery-card-tag-list {
  top: 0;
  margin-top: 5px;
  max-height: 45px;
  overflow-y: hidden;
}
.main-page-left-bottom-component-profile-gallery-card-one-tag {
  display: inline-block;
  color: var(--secondDarkRed);
  background-color: var(--mostLightPink);
  padding: 3px 2px 3px 2px;
  margin-top: 3px;
  margin-right: 3px;
  border-radius: 5px;
  font-size: 0.8em;
}
