body {
  /* all pages should copy this */
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffb3c11a;
}

main {
  /* all pages should copy this */
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

h3 {
  text-align: center;
  margin: 5px 0;
}

.presents-page-switch-bar-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.presents-page-switch-bar-container h3:hover {
  cursor: pointer;
  color: #a90f3d;
  text-decoration: underline;
  transition: background-color 0.3s;
}

.select-purchase-switch-button-selected,
.gift-bucket-switch-button-selected {
  font-size: 1.5em;
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

.presents-page-switch-bar-credit-content {
  position: absolute;
  left: 80%;
  color: #a90f3d;
  font-size: 22px;
}

.presents-page-switch-bar-credit-content strong {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.presents-switch-sections-container {
  width: 100%;
  flex: 1; /* make this height takes up all the remaining space */
  display: flex;
  overflow-y: scroll;
  margin-top: 15px;
}

.buy-gifts-container {
  width: 100%;
  /* display: flex;  no need to write but put it here in case*/
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.buy-gift-show-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 300px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.buy-gift-show-card-container:hover,
.buy-gift-show-card-container:focus,
.bucket-gift-card-container:hover,
.bucket-gift-card-container:focus {
  box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.3s;
}

.buy-gift-show-card-container img,
.bucket-gift-card-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.2);
}

.buy-gift-show-card-container p {
  margin-top: 1px;
}

.buy-gift-show-card-container button {
  position: absolute;
  width: 70%;
  bottom: 20px;
  background-color: #c9184a;
  color: white;
  padding: 8px;
  font-size: inherit;
  border: 1px solid #c9184a;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.buy-gift-show-card-container button:hover,
.bucket-gift-card-container button:hover {
  background-color: #a90f3d;
  transition: background-color 0.3s;
}

.gifts-bucket-container {
  width: 100%;
  /* display: flex;  no need to write but put it here in case*/
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.bucket-gift-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 360px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.bucket-gift-card-gift-quantity {
  position: absolute;
  bottom: 80px;
}

.bucket-gift-card-container button {
  position: absolute;
  width: 70%;
  bottom: 20px;
  background-color: #c9184a;
  color: white;
  padding: 8px;
  font-size: inherit;
  border: 1px solid #c9184a;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.bucket-gift-card-container p {
  margin: 5px 0;
}

/* refill credit modal starting from here: */
/* gift purchase modal starting from here too: */
/* exchange to credit modal starting from here too: */
.presents-page-credit-refill-modal,
.presents-page-gift-purchase-modal,
.presents-page-exchange-to-credit-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.presents-page-credit-refill-modal-content,
.presents-page-gift-purchase-modal-content,
.presents-page-exchange-to-credit-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  width: 40%;
  gap: 20px;
}

.presents-page-credit-refill-modal-content h2,
.presents-page-gift-purchase-modal-content h2,
.presents-page-exchange-to-credit-modal-content h2 {
  margin-bottom: 10px;
}

.presents-page-credit-refill-modal-close-button,
.presents-page-gift-purchase-modal-close-button,
.presents-page-exchange-to-credit-modal-close-button {
  color: rgba(0, 0, 0, 0.3);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.presents-page-credit-refill-modal-close-button:hover,
.presents-page-credit-refill-modal-close-button:focus,
.presents-page-gift-purchase-modal-close-button:hover,
.presents-page-gift-purchase-modal-close-button:focus
  .presents-page-exchange-to-credit-modal-close-button:hover,
.presents-page-exchange-to-credit-modal-close-button:focus {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.presents-page-credit-refill-modal-middle-content {
  display: flex;
  gap: 25px;
}

.presents-page-credit-refill-modal-content input[type="number"],
.presents-page-gift-purchase-modal-content input[type="number"],
.presents-page-exchange-to-credit-count input[type="number"] {
  width: 50px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
}

.presents-page-credit-refill-modal-middle-content button {
  padding: 5px 10px;
  height: 40px;
  width: 40px;
}

.presents-page-credit-refill-modal-submit-credit-button,
.presents-page-gift-purchase-modal-submit-credit-button,
.presents-page-exchange-to-credit-modal-submit-credit-button {
  width: 150px;
  background-color: #c9184a;
  border: 1px solid #a90f3d;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.presents-page-credit-refill-modal-submit-credit-button:hover,
.presents-page-gift-purchase-modal-submit-credit-button:hover,
.presents-page-exchange-to-credit-modal-submit-credit-button {
  background-color: #a90f3d;
  transition: height 0.3s ease;
}
